<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class='row brand-logo'>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <a href="/">
          {% image '%kernel.root_dir%/Resources/public/images/logo_new.png'%}
            <img src="{{ asset_url }}" alt="Quot" width='121' height='40'/>
          {% endimage %}
        </a>
      </div>
    </div>
    <div class='row'>
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse quot-menu" id="bs-example-navbar-collapse-1">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
          <ul class="section-link nav navbar-nav">
          {% if path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == '/' %}
            <li><a class='main-menu-link' href="#preventa" data-ancla="preventa">Pre-venta</a></li>
            <li><a class='main-menu-link' href="#carousel-example-generic" data-ancla="carousel-example-generic"href="#">Camisas</a></li>
            <li><a class='main-menu-link' href="#collection" data-ancla="collection">Colecci&oacute;n</a></li>
            <li><a class='main-menu-link' href="#video-promo" data-ancla="video-promo">Personalizar</a></li>
            <li><a class='main-menu-link' href="#city-promo" data-ancla="city-promo">Origen</a></li>
            <li><a class='main-menu-link' href="#circulo" data-ancla="circulo">Circulo</a></li>
          {% else %}
            <li><a href="/#preventa" data-ancla="preventa">Pre-venta</a></li>
            <li><a href="/#carousel-example-generic" data-ancla="carousel-example-generic"href="#">Camisas</a></li>
            <li><a href="/#collection" data-ancla="collection">Colecci&oacute;n</a></li>
            <li><a href="/#video-promo" data-ancla="video-promo">Personalizar</a></li>
            <li><a href="/#city-promo" data-ancla="city-promo">Origen</a></li>
            <li><a href="/#circulo" data-ancla="circulo">Circulo</a></li>
          {% endif %}
          </ul>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
          <ul class="cart-links nav navbar-nav">
            {% if is_granted("ROLE_USER") %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                {{ app.user.username | split(' ')[0] }}
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a class='small-link' href='/logout'>Cerrar sesi&oacute;n</a></li>
              </ul>
            </li>
            <li>
              <a href="/resumen-compra">
                <span id="purchase_count" class="cart-badge badge">{{ app.session.get('shirtCount') }}</span>
                compras
              </a>
            </li>
            {% else %}
              <li>
                <a href='/login'>
                  {% image '%kernel.root_dir%/Resources/public/images/menu-shirt-icon.png' %}
                    <img src="{{ asset_url }}" alt="account"/>
                  {% endimage %}
                  cuenta
                </a>
              </li>
              <li>
                <a>
                  <span class="cart-badge badge">0</span>
                  compras
                </a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div><!-- /.navbar-collapse -->
    </div>
  </div><!-- /.container-fluid -->
</nav>
