<div class="row social-networks">
  <div class="col-lg-7 social-icons">
    {% image '%kernel.root_dir%/Resources/public/images/instagram-logo.png' %}
      <img src="{{ asset_url }}" alt="cellphone" width='34' height='34'/>
    {% endimage %}
    {% image '%kernel.root_dir%/Resources/public/images/facebook-logo.png' %}
      <img src="{{ asset_url }}" alt="cellphone" width='35' height='36'/>
    {% endimage %}
  </div>
  <div class="col-lg-5 rights">
    Derechos reservados.
    <a>Pol&iacute;ticas de Privacidad.</a>
    <a>T&eacute;rminos y Condiciones.</a>
  </div>
</div>
