<div class='product-teaser'>
  <a class='shirt-block bk-ancla' href="#ancla_{{ vid }}">
    <div class='shirt-image'>
      {% image '%kernel.root_dir%/Resources/public/images/shirt-1.png' %}
        <img src="{{ image }}" alt="cellphone"/>
      {% endimage %}
    </div>
    <h4>{{ title }}</h4>
  </a>
  <div class='product-price'>
    <div class='row'>
      <div class='col-md-6'>
        $150.000
      </div>
      <div class='col-md-6 align-right'>
        Talla
      </div>
    </div>
  </div>
  <div class='product-stock'>
    20 de 50
  </div>
</div>
