{% extends 'base.html.twig' %}

{% block title %}Quot - Resumen de compra{% endblock %}
{% block body %}
    <div class='row'>
        <div class='col-md-12'>
          <div class='user-form-wrapper'>
            <div class='user-form'>
              <h1>Cuenta</h1>
              <form method="post" action="/save-address">
                <label for="address">Dirección completa</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="address" name="address" aria-describedby="basic-addon3">
                </div>
                <label for="state">Departamento</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="state" name="state" aria-describedby="basic-addon3" value="Bogotá">
                </div>
                <label for="state">Ciudad</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="city" name="city" aria-describedby="basic-addon3" value="DC">
                </div>
                <label for="phone">Teléfono</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="phone" name="phone" aria-describedby="basic-addon3">
                </div>
                <div class="input-group new-user-link">
                  <input name="Submit" type="submit"  value="Siguiente" >
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
{% endblock %}