<div id="club" name="club" class="row">
    <div class='col-md-5'>
        <div class="promo-container">
            <h2>{{ module.title }}</h2>
            <p>{{ module.field_descripcion }}</p>
            <button onclick="window.location.href='{{ path('products') }}'">Hacer parte</button>
        </div>
    </div>
    <div class='col-md-7'>
        {% image '%kernel.root_dir%/Resources/public/images/club_bg.png' %}
        <img class='club_bg' src="{{ module.imagen.src }}" alt="banner"/>
        {% endimage %}
    </div>
</div>

