<div id="circulo" name="circulo" class="row">
    <div class="col-lg-6">
        {{ include('home/partials/promo-text.html.twig', {'title': module.title, 'description': module.field_descripcion, 'text': module.texts }) }}
    </div>
    <div class="col-lg-6">
        {{ include('home/partials/promo-image.html.twig', {'src_image': module.imagen.src, 'alt': module.imagen.alt }) }}
    </div>
</div>
