{% image '%kernel.root_dir%/' %}
    {% if(module.imagen.src is defined) %}
        <div name="collection" id="collection" class='row' style="background-image:url({{ module.imagen.src }}); background-position: center">
    {% else %}
            <div name="collection" id="collection" class='row' style="background-position: center">
    {% endif %}
        <div class="couture">
            <div class='row'>
                <h2>{{ module.title }}</h2>
            </div>
            <div class='row'>
                {% set blocks = module.texts|split('</p><h4>') %}
                {% for tt in blocks %}
                    <div class='col-md-4'>
                        <div class='promo-block'>
                            <h3>{{ tt|replace({'<h4>': "", "</h4>" : "</h3>", "</p>": ""})|raw }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endimage %}

