{% image '%kernel.root_dir%/Resources/public/images/stone_bg.png' %}
    <div name="collection" id="collection" class='row' style="background-image:url({{ asset_url }}); background-position: center">
        <div class="couture">
            <div class='row'>
                <h2>{{ module.title }}</h2>
            </div>
            <div class='row'>
                {% set blocks = module.texts|split('</p><h4>') %}
                {% for tt in blocks %}
                    <div class='col-md-4'>
                        <div class='promo-block'>
                            {{ tt|replace({'<h4>': "<h3>", "</h3>" : "</h3>"})|raw }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endimage %}

