<div class='row'>
  {% image '%kernel.root_dir%/Resources/public/images/back-origen.jpg' %}
    <div class='col-md-12' style="background-image:url({{asset_url}}); background-position: center; background-repeat: no-repeat">
        <div class='city-promo'>
            <div class='row'>
                <h3>{{ module.title }}</h3>
            </div>
            <div class='row'>
                {% set blocks = module.texts|split('</p><h4>') %}
                {% for tt in blocks %}
                    <div class='col-md-4'>
                        <div class='promo-block'>
                            {{ tt|raw }}
                        </div>
                    </div>
                {% endfor %}  
            </div>
        </div>
    </div>
  {% endimage %}
</div>
