{% image '%kernel.root_dir%/Resources/public/images/back-producto.jpg' %}
  <div class='row' style="background-image:url({{asset_url}}); background-position: center">
    <div class="visible-xs-block visible-sm-block">
      <div class="info-collection">
        <h2>Comodo. Fresco, Libre</h2>
        <h4>Materiales de alto desempe単o</h4>
        <p>
          Importancia y valor a lo individual. Cada una de nuestras
          camisas es una edicion limitada de 50 unidades
        </p>
        <h4>Materiales de alto desempe単o</h4>
        <p>
          Importancia y valor a lo individual. Cada una de nuestras
          camisas es una edicion limitada de 50 unidades
        </p>
      </div>
      <div class='link-collection'>
        <a>ver la coleccion</a>
      </div>
    </div>
    <div class="visible-md-block visible-lg-block">
      <div class="row">
        <div class="col-md-6">

        </div>
        <div class="col-md-6">
          <div class="info-collection">
            <h2>Comodo. Fresco, Libre</h2>
            <h4>Materiales de alto desempe単o</h4>
            <p>
              Importancia y valor a lo individual. Cada una de nuestras
              camisas es una edicion limitada de 50 unidades
            </p>
            <h4>Materiales de alto desempe単o</h4>
            <p>
              Importancia y valor a lo individual. Cada una de nuestras
              camisas es una edicion limitada de 50 unidades
            </p>

          </div>
          <div class='link-collection'>
            <a>ver la coleccion</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endimage %}
