{% image '%kernel.root_dir%/Resources/public/images/ring_bg.png' %}
<div style="background-image:url({{ asset_url }}); background-position: center">
    <div class='row materials'>
        <div class='col-md-7'>
        </div>
        <div class='col-md-5'>
            <h2>Los mejores materiales</h2>
            <p>{{ module.field_descripcion }}</p>
            <button onclick="window.location.href='{{ path('products') }}'">Comprar</button>
        </div>
    </div>
</div>
{% endimage %}

