<div class='row'>
  <div class="col-xs-12 col-sm-12 col-md-12">
    <div class='newsletter'>
      <div class='newsletter-title'>
        <h3>Inscribirse a nuestro newsletter</h3>
      </div>
      <form>
        <input type="text" placeholder="direccion de correo"/>
      </form>
    </div>
  </div>
</div>
