<div class='promo-container'>
    {% if title is defined %}
        <h2>{{ title }}</h2>
    {% endif %}
    {% if description is defined %}
        <p>{{ description }}</p>
    {% endif %}
    {% if text is defined %}
      {{ text|raw }}
    {% endif %}
</div>
