<div class='promo-image'>
  <div class='image-container'>
    {% image '%kernel.root_dir%/Resources/public/images/test-promo.png' %}
      <img src="{{ asset_url }}" alt="cellphone"/>
    {% endimage %}
  </div>
</div>
