<div class='row'>
    <div class='col-md-12'>
        <div class='video-promo'>
            <div class='video-promo-info'>
                <h3>{{ module.title }}</h3>
                <p>{{ module.field_descripcion }}</p>
            </div>
            <div class='video-promo-links'>
                <div class='video-single-link'>
                    <a>Personalizar</a>
                </div>
            </div>
            <video class='video-full' autoplay loop muted plays-inline>
                <source src="{{ module.video }}" type="video/mp4">
            </video>
        </div>
    </div>
</div>
