<div class='row'>
  <div class='col-md-12'>
    <div class='video-promo'>
      <div class='video-promo-info'>
        <h3>Cuanto mas se mira, mas se ve</h3>
        <p>
          Importancia y valor a lo individual. Cada una de nuestras camisas es
          una edicion limitada de 50 unidades Importancia y valor a lo individual.
          Cada una de nuestras camisas es una edicion limitada de 50 unidades
        </p>
      </div>
      <div class='video-promo-links'>
        <div class='video-single-link'>
          <a>Personalizar</a>
        </div>
      </div>
      <video class='video-full' autoplay loop muted plays-inline>
        <source src="http://thenewcode.com/assets/videos/polina.webm" type="video/mp4">
      </video>
    </div>
  </div>
</div>
