{% image '%kernel.root_dir%/Resources/public/images/machine_bg.png' %}
<div name="is_personal" id="is_personal" class='row' style="background-image:url({{ asset_url }}); background-position: center">
  <div class='row'>
    <div class='col-md-12'>
      <div class='is-personal-info'>
        <h3>{{ module.title }}</h3>
        <p>{{ module.field_descripcion }}</p>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='align-center col-xs-12 col-sm-12  col-md-5 col-md-offset-7 col-lg-5 col-lg-offset-7'>
       <div class='is-personal-info-button'>
        <button onclick="window.location.href='{{ path('products') }}'">
          Personalizar
        </button>
      </div>
    </div>
  </div>
</div>
{% endimage %}

