{% extends 'base.html.twig' %}

{% block title %}Quot - Home{% endblock %}

{% block body %}
<div class='row'>
  <div class='col-md-12'>
    <div class='user-form-wrapper'>
      <div class='user-form'>
        <h1>Metodo de Pago</h1>
        <form>
          <div class="input-group new-user-link">
            <a>Siguiente</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
