{% extends 'base.html.twig' %}

{% block title %}Quot - Colecciones{% endblock %}

{% block body %}
    {% for col in collections %}
        {% if col.products is not empty %}
            <div class='row'>
                <div class='col-md-12'>
                    <div class='detail-wrapper'>
                      <h1>{{ col.title_collection }}</h1>
                        <div class="owl-carousel">
                            {% for base in col.products %}
                                {{ include('collections/partials/product-teaser.html.twig', {'data': base, 'vid_parent': col.vid }) }}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-12'>
                    {% for base in col.products %}
                        {{ include('collections/partials/product-detail.html.twig', {'data': base, 'class': loop.revindex, 'vid_parent': col.vid }) }}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script>

    function generateLink(vid_parent, vid){
      var size = $('.div_' + vid).children('span').text();
      window.location.assign("/personalizar/" + vid_parent + "/" + vid + "/" + size);
    }

    function generateLinkFromDetail(vid_parent, vid){
      var size = $('#div_' + vid).children('span').text();
      window.location.assign("/personalizar/" + vid_parent + "/" + vid + "/" + size);
    }

    function DropDown(el) {
      this.dd = el;
      this.initEvents();
    }
    DropDown.prototype = {
      initEvents : function() {
        var obj = this;

        obj.dd.on('click', function(event){
          $(this).toggleClass('active');
          event.stopPropagation();
        });
      }
    }

    $(document).ready(function(){

      var dd = new DropDown( $('.dd') );

      $(document).click(function() {
        // all dropdowns
        $('.wrapper-dropdown-5').removeClass('active');
      });

      $('.wrapper-dropdown-5 ul.dropdown li a').click(function() {
        $(this).parents('div').children('span').text($(this).text());
      });

      $(".product-teaser").hover(function(){
        $(this).children('.product-custom product-customize-link a').trigger('mouseenter');;
        $(this).children('.product-custom product-customize-cart a').trigger('mouseenter');
      },function(){
        $(this).children('.product-custom product-customize-link a').trigger('mouseenter');
        $(this).children('.product-custom product-customize-cart a').trigger('mouseenter');
      });

      $('#detail-1').carousel();
      $('#detail-2').carousel();
      $('#detail-3').carousel();
      $(".owl-carousel").owlCarousel({
         loop:true,
         margin:10,
         responsiveClass:true,
         responsive:{
           0:{
               items:1,
               nav:false
           },
           600:{
               items:3,
               nav:false
           },
           1000:{
               items:5,
               nav:false,
               loop:false
           }
         }
      });
    });
  </script>
{% endblock %}
