<div class='col-md-12'>
    {% for session in collections %}
        <div class='detail-wrapper'>
            <h1>{{ session.title_collection }}</h1>
            <div class="owl-carousel">
                {% for coll in session.products %}
                    {% set sizes = coll.sizes|split(',') %}
                    {{ include('collections/partials/product-teaser-trans.html.twig', {'products': coll, 'sizes': sizes }) }}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>