<div id="club" name="club" class="row">
  <div class='col-md-5'>
    <div class="promo-container">
      <h2>Pre-venta</h2>
      <p>
        Sabemos de la urgencia de sensatez en nuestra industria. Decidimos alejarnos del modelo masivo
        y uniforme del “fast fashion”, creando un ciclo de diseno responsable, capaz de conectar la moda
        y el estilo por medio de la individualidad con procesos concientes y humanos.
        Nuestras colecciones solo incluyen 5 diseños de los que producimos 50 piezas de cada uno.
        Con  materiales comodos, versatiles y sostenibles  podemos garantizar la calidad y experiencia
        esperada por una generacion como la nuestra en cada camisa.
        Durante esta pre-venta, con la compra de su primera camisa usted hara parte de la cultura UniQ ty podra:

        </p>
      <button>Hacer parte</button>
    </div>
  </div>
  <div class='col-md-7'>
    {% image '%kernel.root_dir%/Resources/public/images/club_bg.png' %}
      <img class='club_bg' src="{{ asset_url }}" alt="banner"/>
    {% endimage %}
  </div>
</div>
