{% image '%kernel.root_dir%/Resources/public/images/stone_bg.png' %}
  <div name="collection" id="collection" class='row' style="background-image:url({{ asset_url }}); background-position: center">
    <div class="couture">
      <div class='row'>
        <h2>Custom Couture</h2>
      </div>
      <div class='row'>
        <div class='col-md-4'>
          <div class='promo-block'>
            <h3>No es cantidad, es calidad</h3>
            <p>
              Nuestra industria, preocupantemente la quinta que mas contamina el
              planeta, necesita urgentemente de  sensatez en sus procesos de produccion
              y distribucion. No se trata de dejar producir o de comprar, se trata de
              hacerlo inteligentemente. Por eso nos alejamos del modelo de produccion
              masiva y de repeticion del ¨fast fashion¨ y nos concentramos en producir
              exclusivamente 50 piezas para cada uno de los 5 diseño escogidos para cada coleccion
            </p>
          </div>
        </div>
        <div class='col-md-4'>
          <div class='promo-block'>
            <h3>No es cantidad, es calidad</h3>
            <p>
              Nuestra industria, preocupantemente la quinta que mas contamina el
              planeta, necesita urgentemente de  sensatez en sus procesos de produccion
              y distribucion. No se trata de dejar producir o de comprar, se trata de
              hacerlo inteligentemente. Por eso nos alejamos del modelo de produccion
              masiva y de repeticion del ¨fast fashion¨ y nos concentramos en producir
              exclusivamente 50 piezas para cada uno de los 5 diseño escogidos para cada coleccion
            </p>
          </div>
        </div>
        <div class='col-md-4'>
          <div class='promo-block'>
            <h3>No es cantidad, es calidad</h3>
            <p>
              Nuestra industria, preocupantemente la quinta que mas contamina el
              planeta, necesita urgentemente de  sensatez en sus procesos de produccion
              y distribucion. No se trata de dejar producir o de comprar, se trata de
              hacerlo inteligentemente. Por eso nos alejamos del modelo de produccion
              masiva y de repeticion del ¨fast fashion¨ y nos concentramos en producir
              exclusivamente 50 piezas para cada uno de los 5 diseño escogidos para cada coleccion
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endimage %}
