{% image '%kernel.root_dir%/Resources/public/images/machine_bg.png' %}
  <div name="is_personal" id="is_personal" class='row' style="background-image:url({{ asset_url }}); background-position: center">
    <div class='row'>
      <div class='col-md-12'>
        <div class='is-personal-info'>
          <h3>Es personal</h3>
          <p>
            Apropiarse de cada uno de nuestros disenos para incluir el gusto
            personal en detalles como el hilo, los botones, el cuello o los pu&ntilde;os
            dando un nuevo significado a cada camisa, dando un paso mas hacia la unicidad.
          </p>
        </div>
        <div class='is-personal-info-button'>
          <button>Personalizar</button>
        </div>
      </div>
    </div>
  </div>
{% endimage %}
