{% image '%kernel.root_dir%/Resources/public/images/ring_bg.png' %}
  <div style="background-image:url({{ asset_url }}); background-position: center">
    <div class='row materials'>
      <div class='col-md-7'>
      </div>
      <div class='col-md-5'>
        <h2>Los mejores materiales</h2>
        <p>
          Sabemos de la urgencia de sensatez en nuestra industria.
          Decidimos alejarnos del modelo masivo y uniforme del “fast fashion”,
          creando un ciclo de diseno responsable, capaz de conectar la moda y
          el estilo por medio de la individualidad con procesos concientes y humanos.
          Nuestras colecciones solo incluyen 5 diseños de los que producimos 50
          piezas de cada uno. Con  materiales comodos, versatiles y sostenibles
          podemos garantizar la calidad y la experiencia  esperada en cada camisa.
          Durante esta pre-venta, con la compra de su primera camisa usted hara
          parte de la cultura UniQ ty podra:
        </p>
        <button>
          Comprar
        </button>
      </div>
    </div>
  </div>
{% endimage %}
