<div id="preventa" name="preventa" class="row">
  <div class="col-lg-7">
    {% image '%kernel.root_dir%/Resources/public/images/banner1_home.png' %}
      <img src="{{ asset_url }}" alt="banner"/>
    {% endimage %}
  </div>
  <div class="col-lg-5">
    <div class='promo-container'>
      <h2>Pre-venta</h2>
      <h3>fiorire 2017-II</h3>
      <p>
        Sabemos de la urgencia de sensatez en nuestra industria. Decidimos alejarnos del modelo masivo
        y uniforme del “fast fashion”, creando un ciclo de diseno responsable, capaz de conectar la moda
        y el estilo por medio de la individualidad con procesos concientes y humanos.
        Nuestras colecciones solo incluyen 5 diseños de los que producimos 50 piezas de cada uno.
        Con  materiales comodos, versatiles y sostenibles  podemos garantizar la calidad y experiencia
        esperada por una generacion como la nuestra en cada camisa.
        Durante esta pre-venta, con la compra de su primera camisa usted hara parte de la cultura UniQ ty podra:

        <ul>
          <li>Personalizar cada camisa durante un a&ntilde;o</li>
          <li>Pedir ajuste a sus medias</li>
          <li>Enviar para arreglos menores</li>
        </ul>
      </p>
      <button>Comprar</button>
    </div>
  </div>
</div>
